In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load dataset
df = pd.read_csv('sample_transactions.csv')
df.head()

  CustomerID ProductID     Category  PurchaseAmount PurchaseDate
0       C001      P001  Electronics           15000   2024-01-15
1       C002      P002      Fashion            2500   2024-01-16
2       C003      P003    Groceries             500   2024-01-17
3       C001      P002      Fashion            3000   2024-02-10
4       C004      P004  Electronics           20000   2024-02-12